
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Noto+Sans+JP&family=Sometype+Mono&display=swap');


*{
    background-color: #1f1f1f;
    font-family: 'Mulish', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Sometype Mono', monospace;
}

h2 {
    color: #bababa;
    font-size: 30px;
}
p{
    color: #bababa;
    font-size: 50px;
    padding: 10px;
    border: 2px solid #bababa;
    margin-top: 10px;
}

img{
    border: 2px solid #bababa;
    border-radius: 50%;
}

button, a{
    margin-top: 30px;
    background-color:  #fef0c8;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}


